<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>hello-java-web</display-name>
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>controller.action.annotation</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- JSF -->
<!-- 	<context-param> -->
<!-- 		<param-name>javax.faces.PROJECT_STAGE</param-name> -->
<!-- 		<param-value>Development</param-value> -->
<!-- 	</context-param> -->
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>java-faces</servlet-name> -->
<!-- 		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class> -->
<!-- 		<load-on-startup>2</load-on-startup> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>java-faces</servlet-name> -->
<!-- 		<url-pattern>/faces/*</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>java-faces</servlet-name> -->
<!-- 		<url-pattern>*.jsf</url-pattern> -->
<!-- 	</servlet-mapping> -->
	
	<!-- Spring MVC -->
	<servlet>
		<servlet-name>spring-web-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-web-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-web-mvc</servlet-name>
		<url-pattern>*.sp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>jax-rs</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.kimi</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jax-rs</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
<!-- 	<servlet id="jsp"> -->
<!-- 	        <servlet-name>uu</servlet-name> -->
<!-- 	        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class> -->
<!-- 	        <init-param> -->
<!-- 	            <param-name>logVerbosityLevel</param-name> -->
<!-- 	            <param-value>DEBUG</param-value> -->
<!-- 	        </init-param> -->
<!-- 	        <init-param> -->
<!-- 	            <param-name>fork</param-name> -->
<!-- 	            <param-value>>false</param-value> -->
<!-- 	        </init-param> -->
<!-- 	        <init-param> -->
<!-- 	            <param-name>keepgenerated</param-name> -->
<!-- 	            <param-value>>true</param-value> -->
<!-- 	        </init-param> -->
<!-- 	        <load-on-startup>0</load-on-startup> -->
<!-- 	    </servlet> -->
<!-- 	    <servlet-mapping> -->
<!-- 	        <servlet-name>jsp</servlet-name> -->
<!-- 	        <url-pattern>*.jsp</url-pattern> -->
<!-- 	        <url-pattern>*.jspf</url-pattern> -->
<!-- 	        <url-pattern>*.jspx</url-pattern> -->
<!-- 	        <url-pattern>*.xsp</url-pattern> -->
<!-- 	        <url-pattern>*.JSP</url-pattern> -->
<!-- 	        <url-pattern>*.JSPF</url-pattern> -->
<!-- 	        <url-pattern>*.JSPX</url-pattern> -->
<!-- 	        <url-pattern>*.XSP</url-pattern> -->
<!-- 	    </servlet-mapping> -->
	    
<!-- 	    <servlet> -->
<!-- 	    	<servlet-name>jd</servlet-name> -->
<!-- 	    	<servlet-class>jetty.servlet.JettyServlet</servlet-class> -->
<!-- 	    </servlet> -->
<!-- 	    <servlet-mapping> -->
<!-- 	    	<servlet-name>jd</servlet-name> -->
<!-- 	    	<url-pattern>/jjj</url-pattern> -->
<!-- 	    </servlet-mapping> -->

</web-app>